body {
    font-family: Arial, sans-serif;
    text-align: center; /* Para centrar el texto */
}

button {
    margin: 5px;
}

#app {
    margin-top: 50px; /* Espacio superior */
}

#login,
#signup,
h1 {
    display: block;
    margin: 0 auto; /* Centrar los botones y el texto */
}

#signup {
    margin-top: 10px; /* Separación entre botones */
}

#dashboard {
    display: none;
}
    